@using Zero.Abp.AspNetCore.Components
@inherits AbpAccountComponentBase
@if (ChangePasswordModel != null)
{
    <Form @ref="ChangePasswordForm"
      Model="@ChangePasswordModel"
      Layout="@FormLayout.Vertical"
      OnFinish="ChangePasswordAsync">
        <Template If="()=>!context.HideOldPasswordInput">
            <FormItem Label="@L["DisplayName:CurrentPassword"]">
                <InputPassword @bind-Value="context.CurrentPassword" AllowClear />
            </FormItem>
        </Template>
        <FormItem Label="@L["DisplayName:NewPassword"]">
            <InputPassword @bind-Value="context.NewPassword" AllowClear />
        </FormItem>
        <FormItem Label="@L["DisplayName:NewPasswordConfirm"]">
            <InputPassword @bind-Value="context.NewPasswordConfirm" AllowClear />
        </FormItem>
        <FormItem>
            <Button Type="@ButtonType.Primary" HtmlType="submit" Loading="@ChangePasswordSubmiting">
                @L["Save"]
            </Button>
        </FormItem>
    </Form>
}
@code {

}
