@using Microsoft.Extensions.Localization
@using Volo.Abp.Users
@using Volo.Abp.MultiTenancy
@using global::Localization.Resources.AbpUi
@inherits AbpComponentBase
@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation
@inject IStringLocalizer<AbpUiResource> UiLocalizer
<AuthorizeView>
    <Authorized>
        <Dropdown>
            <ChildContent>
                @if (CurrentTenant.Name != null)
                {
                    <span><i>@CurrentTenant.Name</i>\@CurrentUser.UserName</span>
                }
                else
                {
                    <span>@CurrentUser.UserName</span>
                }
            </ChildContent>
            <Overlay>
                @if (Menu != null)
                {
                <Menu>
                    @foreach (var menuItem in Menu.Items)
                    {
                        <MenuItem OnClick="@(() => NavigateToAsync(menuItem.Url, menuItem.Target))">
                            @menuItem.DisplayName
                        </MenuItem>
                    }
                    <Divider />
                    <MenuItem OnClick="BeginSignOut">@UiLocalizer["Logout"]</MenuItem>
                </Menu>
                }
            </Overlay>
        </Dropdown>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login">@UiLocalizer["Login"]</a>
    </NotAuthorized>
</AuthorizeView>