@namespace Zero.Abp.AntdesignUI.Layout

<div class="@TopNavHeaderClass" style="@Style">
    <div class="@ClassNames($"{BaseClassName}-main",("wide", ContentWidth == "Fixed"))">
        <div class="@($"{BaseClassName}-main-left")" @onclick="OnMenuHeaderClick">
            <div class="@($"{BaseClassName}-logo")" id="logo">
                <Branding />
            </div>
        </div>
        <div style="flex: 1;" class="@BaseClassName-menu">
            <BaseMenu Mode="Mode" NoChildrenMenu="NoChildrenMenu"/>
        </div>
        @if (RightContentRender != null)
        {
            <div style="min-width:@rightSize">
                <div style="padding-right:8px">
                    <div>
                        @RightContentRender
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@inherits AntProComponentBase
@code {
    private string BaseClassName => $"{PrefixCls}-top-nav-header";

    private string TopNavHeaderClass => ClassNames(
        BaseClassName, Class
        , ("light", NavTheme == MenuTheme.Light)
        );
    private string MainClass => ClassNames(
        $"{BaseClassName}-main"
        , ("wide", ContentWidth == "Fixed")
        );

    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public bool NoChildrenMenu { get; set; }
    [Parameter] public MenuMode Mode { get; set; }
    //[Parameter] public MenuTheme Theme { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnMenuHeaderClick { get; set; }

    [CascadingParameter(Name = nameof(RightContentRender))]
    public RenderFragment RightContentRender { get; set; }

    string rightSize = "auto";
    public void SetRightSize(string value)
    {
        rightSize = value;
    }
}
