@namespace Zero.Abp.AntdesignUI.Layout
@inherits AntProComponentBase
@using OneOf

@*@if (FixedHeader)
{
    <div style="width: @siderWidth;
        overflow: hidden;
        flex: 0 0 @siderWidth;
        max-width: @siderWidth;
        min-width: @siderWidth;
        transition: background-color 0.3s, min-width 0.3s, max-width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
        @Style" />
}*@

<Sider Collapsible="false"
       Collapsed="@Collapsed"
       CollapsedWidth="@collapsedWidth"
       Width="@SiderWidth"
       Theme="@SiderTheme"
       Style="@siderStyle"
       Class="@siderClassName"
       Breakpoint="@Breakpoint"
       OnCollapse="HandleSiderCollapse">

    @if (HasHeaderDom)
    {
        <div id="logo" style="@LogoStyle"
             class="@ClassNames($"{baseClassName}-logo", ($"{baseClassName}-collapsed",Collapsed))">
            <Branding HideTitle="@Collapsed" />
        </div>
    }

    @if (MenuExtraRender)//TODO:MenuExtraRender
    {
        <div class="@ClassNames($"{baseClassName}-extra", ($"{baseClassName}-extra-no-logo",HasHeaderDom))">
            @*{extraDom}*@
        </div>
    }

    <!--flatMenu-->
    <div style="flex: 1; overflow-y: auto; overflow-x: hidden;">
        <BaseMenu Mode="MenuMode.Inline"
                  Collapsed="@Collapsed"
                  HandleOpenChange="@HandleOnOpenChange"
                  Style="width: 100%"
                  Class="@($"{baseClassName}-menu")" />
    </div>

    <div class="@baseClassName-links">
        <Menu Theme="NavTheme"
              InlineIndent="16"
              Class="@($"{baseClassName}-link-menu")"
              SelectedKeys="Array.Empty<string>()"
              OpenKeys="Array.Empty<string>()"
              Mode="MenuMode.Inline"
              Selectable="false">
            @for (var index = 0; index < Links.Count; index++)
            {
                <MenuItem Key="@($"{index}")" Class="@($"{baseClassName}-link")">
                    @Links[index]
                </MenuItem>
            }
            @if (CollapsedButtonRender != null && !IsMobile)
            {
                <MenuItem Class="@($"{baseClassName}-collapsed-button")"
                          Key="Collapsed" Title="@null"
                          OnClick="@(async arg => await HandleOnCollapse(Collapsed = !Collapsed))">
                    @CollapsedButtonRender(Collapsed)
                </MenuItem>
            }
        </Menu>
    </div>
    @*
        {menuFooterRender && (
        <div className={classNames(`${baseClassName}-footer`, {
             [`${baseClassName}-footer-collapsed`]: !collapsed,
             })}>
            {menuFooterRender(props)}
        </div>
        )}*@
</Sider>


@code {
    [Parameter] public int SiderWidth { get; set; } = 208;
    [Parameter] public bool IsMobile { get; set; }
    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public string LogoStyle { get; set; }
    [Parameter] public BreakpointType Breakpoint { get; set; } = BreakpointType.Lg;
    [Parameter]
    public SiderTheme SiderTheme
    {
        get { return NavTheme.Name switch { "light" => SiderTheme.Light, "dark" => SiderTheme.Dark, _ => SiderTheme.Light }; }
        set => NavTheme = value == SiderTheme.Light ? MenuTheme.Light : MenuTheme.Dark;
    }

    //[Parameter] public bool SplitMenus { get; set; }
    [Parameter] public bool MenuExtraRender { get; set; }//TODO:MenuExtraRender


    [Parameter] public EventCallback<bool> OnCollapse { get; set; }
    [Parameter] public EventCallback<string[]> OnOpenChange { get; set; }
    [Parameter] public List<RenderFragment> Links { get; set; } = new List<RenderFragment>();

    private bool HasHeaderDom => MenuHeaderRender && Layout != Layout.Mix;

    private string siderStyle => $"overflow: hidden; padding-top: {(Layout == Layout.Mix && !IsMobile ? HeaderHeight : 0)}px;";
    private int collapsedWidth = 48;
    private string siderWidth => $"{(Collapsed ? collapsedWidth : SiderWidth)}px";
    private string baseClassName => $"{PrefixCls}-sider";
    private string siderClassName => ClassNames(baseClassName
        , ($"{baseClassName}-fixed", FixSiderbar)
        , ($"{baseClassName}-layout-{Layout.Name}", Layout != null && !IsMobile)
        , ($"{baseClassName}-light", SiderTheme == SiderTheme.Light)
        );




    private async Task HandleOnOpenChange(string[] openKeys)
    {
        if (OnOpenChange.HasDelegate)
        {
            await OnOpenChange.InvokeAsync(openKeys);
        }
    }
    private async Task HandleOnCollapse(bool collapsed)
    {
        if (!IsMobile && OnCollapse.HasDelegate)
        {
            await OnCollapse.InvokeAsync(collapsed);
        }
    }
    private async Task HandleSiderCollapse(bool collapsed)
    {
        Collapsed = collapsed;
        await HandleOnCollapse(collapsed);
    }

    [Parameter]
    public RenderFragment<bool> CollapsedButtonRender { get; set; } = (collapsed) =>@<Icon Type="@(collapsed ? "menu-unfold" : "menu-fold")" />;

}