@namespace Zero.Abp.AntBlazor.Layout
@inherits AntLayoutComponentBase

<div class="@ClassNames(Class,BaseClassName)"
     style="@StyleValues(Width,Style)">
    @*@if (RenderContent != null) { @RenderContent((null, width)); }*@
    <div class=@($"{BaseClassName}-left")>@Extra</div>
    <div class=@($"{BaseClassName}-right")>@ChildContent</div>
</div>

@code {
    [CascadingParameter]
    protected PageContainer PageContainer { get; set; }

    #region
    private bool isMobile => IsMobile;
    private bool hasSiderMenu => LayoutContextProvider?.HasSiderMenu ?? false;
    private int siderWidth => LayoutContextProvider?.SiderWidth ?? 0;


    private void SetHasFooterToolbar(bool hasFooterToolbar)
    {
        PageContainer?.SetHasFooterToolbar(hasFooterToolbar);
    }
    #endregion


    [Parameter] public RenderFragment Extra { get; set; }
    //[Parameter] public RenderFragment<(object,string leftWidth)> RenderContent { get; set; }

    private string BaseClassName => $"{PrefixCls}-footer-bar";
    private string Width => hasSiderMenu ? (siderWidth > 0 ? (isMobile ? "width:100%" : $"width:calc(100% - ${siderWidth}px)") : "width:100%") : "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        SetHasFooterToolbar(true);
    }

    protected override void Dispose(bool disposing)
    {
        SetHasFooterToolbar(false);
    }

}
