@namespace Zero.Abp.AntBlazor.Layout
@inherits AntLayoutComponentBase

<div style="@Style" class="@ContainerClassName">
    <!-- #region Header -->
    @*if (pageHeaderRender === false) { return null;  }
        if (pageHeaderRender) {  return <> {pageHeaderRender({ ...props, ...value })}</>;   }*@

    @if (HasPageHeader)
    {
        if (FixedHeader)
        {
            <Affix OffsetTop="OffsetTop">
                @PageHeaderDom()
            </Affix>
        }
        else
        {
            @PageHeaderDom()
        }
    }
    <!-- #endregion -->
    <!-- #region Content -->
    <GridContent>
        @if (Loading.IsT0 && Loading.AsT0 == false)
        {
            <div class="@($"{PrefixedClassName}-children-content")">
                <PageAlert />
                @ChildContent
            </div>
            @if (HasFooterToolbar)
            {
                <div style="height:48px;margin-top:24px" />
            }
        }
        else
        {
            if (Loading.IsT1)
            {
                @Loading.AsT1
            }
            else
            {
                SpinProps spin = Loading.IsT2 ? Loading.AsT2 : new SpinProps { Spinning = true };
                <PageLoading Size="@spin.Size" Tip="@spin.Tip" Spinning="@spin.Spinning" Delay="@spin.Delay" />
            }
        }
    </GridContent>
    <!-- #endregion -->
    <!-- #region Footer -->
    @if (HasFooter)
    {
        <FooterToolbar> @Footer </FooterToolbar>
    }
    <!-- #endregion -->
</div>
@code {
    private bool HasFooter => Footer != null;
    //private bool HasBreadCrumb => false;
    private bool HasPageHeader => AnyNoNull(
    Header, Title, TitleTemplate, BreadcrumbContent, Extra
    , Content
    , ExtraContent
    );

    private int OffsetTop => (HasHeader && Settings.FixedHeader) ? Settings.HeaderHeight : 0;

    RenderFragment PageHeaderContent => Content == null && ExtraContent == null ? null :
    @<div class="@($"{PrefixedClassName}-detail")">
        <div class="@($"{PrefixedClassName}-main")">
            <div class="@($"{PrefixedClassName}-row")">
                @if (Content != null)
                {
                    <div class="@($"{PrefixedClassName}-content")">@Content</div>
                }
                @if (ExtraContent != null)
                {
                    <div class="@($"{PrefixedClassName}-extraContent")">@ExtraContent</div>
                }
            </div>
        </div>
    </div>;

RenderFragment PageHeaderFooter()
{
    if (TabList.IsNullOrEmpty()) { return null; }
    var parameters = new Dictionary<string, object>();
    parameters.AddIfNoNull(nameof(Tabs.TabBarExtraContent), () => TabBarExtraContent);

    return @<Tabs Class="@($"{PrefixedClassName}-tabs")"
                  ActiveKey="@TabActiveKey"
                  Type="@TabProps.Type"
                  Size="@TabProps.Size"
                  HideAdd="@TabProps.HideAdd"
                  OnTabClick="HandleTabClick"
                  OnEdit="@TabProps.OnEdit"
                  @attributes="@parameters">
    @foreach (var item in TabList)
    {
        <TabPane Key="@item.Key" Tab="@item.Tab" Closable="@item.Closable" Disabled="@item.Disabled" />
    }
</Tabs>; 

}

RenderFragment PageHeaderDom()
{
if (Header != null)
{
 Title = Header.Title.IsT0 ? Header.Title.AsT0 ?? Title : Title;
 TitleTemplate = Header.Title.IsT1 ? Header.Title.AsT1 ?? TitleTemplate : TitleTemplate;
 Ghost = Header?.Ghost ?? Ghost;
 Extra = Header.Extra ?? Extra;
 BreadcrumbContent = Header.Breadcrumb ?? BreadcrumbContent;
}
var parameters = new Dictionary<string, object>();
parameters.AddIfNoNull(nameof(PageHeader.TitleTemplate), () => TitleTemplate);
parameters.AddIfNoNull(nameof(PageHeader.PageHeaderExtra), () => Extra);
parameters.AddIfNoNull(nameof(PageHeader.PageHeaderBreadcrumb), () => BreadcrumbContent);
parameters.AddIfNoNull(nameof(PageHeader.PageHeaderContent), () => PageHeaderContent);
parameters.AddIfNoNull(nameof(PageHeader.PageHeaderFooter), () => PageHeaderFooter());
return @<div class=@($"{PrefixedClassName}-warp")>
    <PageHeader Title="@Title"
                Ghost="@Ghost"
                @attributes="parameters">
    </PageHeader>
</div>;
}

}