@namespace Zero.Abp.AntdesignUI.Layout
@inherits AntLayoutComponentBase

<div style="@Style" class="@ContainerClassName">
    <!-- #region Header -->
    @*if (pageHeaderRender === false) { return null;  }
        if (pageHeaderRender) {  return <> {pageHeaderRender({ ...props, ...value })}</>;   }*@

    @if (HasPageHeader)
    {
        if (Settings.FixedHeader)
        {
            <Affix OffsetTop="OffsetTop">
                @PageHeaderDom
            </Affix>
        }
        else
        {
            @PageHeaderDom
        }
    }
    <!-- #endregion -->
    <!-- #region Content -->
    @if (Loading.IsT1)
    {
        @Loading.AsT1;
    }
    else
    {
        @if (Loading.IsT0 && Loading.AsT0 == false)
        {
            <div class="@($"{PrefixedClassName}-children-content")">
                @ChildContent
            </div>
            @if (Value?.HasFooterToolbar??false)
            {
                <div style="height:48px;margin-top:24px" />
            }
        }
        else
        {
            <PageLoading />
        }
    }
    <!-- #endregion -->
    <!-- #region Footer -->
    @if (HasFooter)
    {
        <FooterToolbar> @Footer </FooterToolbar>
    }
    <!-- #endregion -->
</div>
@code {
    private bool HasFooter => Footer != null;
    private bool HasBreadCrumb => false;
    private bool HasPageHeader => HasBreadCrumb || AnyNoNull(
        Title, TitleTemplate
        , Content
        , ExtraContent
        );

    private int OffsetTop => ((Value?.HasHeader??false) && FixedHeader) ? Settings.HeaderHeight : 0;

    RenderFragment PageHeaderDom =>@<div class=@($"{PrefixedClassName}-warp")>
        <PageHeader Title="@Title"
                    TitleTemplate="TitleTemplate">
            <PageHeaderContent>
                @if (Content != null || ExtraContent != null)
                {
                    <div class="@($"{PrefixedClassName}-detail")">
                        <div class="@($"{PrefixedClassName}-main")">
                            <div class="@($"{PrefixedClassName}-row")">
                                @if (Content != null)
                                {
                                    <div class="@($"{PrefixedClassName}-content")">@Content</div>
                                }
                                @if (ExtraContent != null)
                                {
                                    <div class="@($"{PrefixedClassName}-extraContent")">@ExtraContent</div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </PageHeaderContent>
        </PageHeader>
    </div>;
}