@page "/tenant-management/tenants"
@attribute [Authorize(TenantManagementPermissions.Tenants.Default)]
@using Microsoft.AspNetCore.Authorization
@using Zero.Abp.AntBlazorUI.Components.ExtensibleDataTable
@using Zero.Abp.FeatureManagement.Blazor.Components
@using Microsoft.AspNetCore.Components.Forms
@using Volo.Abp.TenantManagement
@using Volo.Abp.TenantManagement.Localization
@using Zero.Abp.AntBlazorUI.Components.ObjectExtending
@using Zero.Abp.AspNetCore.Components.Web
@inject AbpBlazorMessageLocalizerHelper<AbpTenantManagementResource> LH
@inherits AbpCrudPageBase<ITenantAppService, TenantDto, Guid, GetTenantsInput, TenantCreateDto, TenantUpdateDto>
<PageContainer>
    <Card>
      
        <AbpExtensibleDataTable TItem="TenantDto"
                                Data="@Entities"
                                ReadData="@OnDataGridReadAsync"
                                TotalItems="@TotalCount"
                                ShowPager="true"
                                PageSize="@PageSize"
                                CurrentPage="@CurrentPage"
                                Toolbar="@TenantManagementTableToolbar"
                                Columns="@TenantManagementTableColumns">
        </AbpExtensibleDataTable>
    </Card>
</PageContainer>

@* ************************* CREATE MODAL ************************* *@
@if (HasCreatePermission)
{
    <Modal Title="@L["NewTenant"]"
       Visible="@CreateVisible"
       OnOk="@CreateEntityAsync"
       OnCancel="CloseCreateModalAsync"
       CancelText="@L["Cancel"].Value"
       ConfirmLoading="@CreateSubmiting"
       Centered MaskClosable="@false">
        <Form @ref="CreateFormRef" Model="@NewEntity" Loading="@CreateLoading"
          LabelColSpan="8" WrapperColSpan="16" ValidateMessages="@validateMessages">
            <FormItem Label="@L["TenantName"]">
                <Input @bind-Value="@context.Name" AutoFocus AllowClear Placeholder="@L["TenantName"]" />
            </FormItem>
            <FormItem Label="@L["DisplayName:AdminEmailAddress"]">
                <Input @bind-Value="@context.AdminEmailAddress" AllowClear Placeholder="@L["DisplayName:AdminEmailAddress"]" />
            </FormItem>
            <FormItem Label="@L["DisplayName:AdminPassword"]">
                <InputPassword @bind-Value="@context.AdminPassword" AllowClear Placeholder="@L["DisplayName:AdminPassword"]" />
            </FormItem>
            <ExtensionProperties TEntityType="TenantCreateDto" TResourceType="AbpTenantManagementResource" Entity="@NewEntity" LH="@LH" />
        </Form>
    </Modal>
}
@* ************************* EDIT MODAL ************************* *@
@if (HasUpdatePermission)
{
    <Modal Title="@L["Edit"]"
       Visible="@EditVisible"
       OnOk="@UpdateEntityAsync"
       OnCancel="CloseEditModalAsync"
       CancelText="@L["Cancel"].Value"
       ConfirmLoading="@EditSubmiting"
       Centered MaskClosable="@false">
        <Form @ref="EditFormRef" Model="@EditingEntity" Loading="@EditLoading"
          LabelColSpan="8" WrapperColSpan="16">
            <FormItem Label="@L["TenantName"]">
                <Input @bind-Value="@context.Name" AutoFocus="true" />
            </FormItem>
            <ExtensionProperties TEntityType="TenantUpdateDto" TResourceType="AbpTenantManagementResource" Entity="@EditingEntity" LH="@LH" />
        </Form>
    </Modal>
}

@if (HasManageFeaturesPermission)
{
    <FeatureManagementModal @ref="FeatureManagementModal" />
}