@namespace Zero.Abp.AntdesignUI.Layout
@inherits AntProComponentBase

<div class="@ClassMapper.Class" style="@_weakModeStyle">
    <Layout Style="min-height: 100%;">
        @if (MenuRender)
        {
            if (Layout == Layout.Top && !IsMobile)
            {
                <!--todo: Mobile Top-->
            }
            else
            {
                <CascadingValue Value="MenuExtraRender" Name="MenuExtraRender">
                    <SiderMenu Mode="Mode"
                       OpenKeys="OpenKeys"
                       SiderWidth="SiderWidth"
                       OnCollapse="HandleCollapse">
                    </SiderMenu>
                </CascadingValue>
            }
        }

        <Layout Style="@_genLayoutStyle">
            @if (HeaderRender && Pure)
            {
                <CascadingValue Value="RightContentRender" Name="RightContentRender">
                    <HeaderView />
                </CascadingValue>
            }

            <WrapContent PrefixCls="@PrefixCls"
                         Class="@ContentClassMapper.Class"
                         Style="@ContentStyle">

                @(Loading ? @<PageLoading /> : ChildContent)
            </WrapContent>

            <FooterView />
            @if (SettingState.Value.FooterRender)
            {
                @(FooterRender == null ? @<FooterView /> : FooterRender)
            }
        </Layout>
    </Layout>
</div>
