@namespace Zero.Abp.AntdesignUI.Layout

@if (Pure)
{
    @ChildContent
}
else
{
    <div class="@LayoutClass" style="@weakModeStyle">
        <Layout Style="min-height: 100%;">
            @if (hasSiderMenu)
            {
                <CascadingValue Value="MenuExtraRender" Name="MenuExtraRender">
                    <SiderMenuWrapper Hide="Layout == Layout.Top && !IsMobile"
                              SiderWidth="SiderWidth" OnCollapse="HandleCollapse">
                    </SiderMenuWrapper>
                </CascadingValue>
            }
            <div style="@genLayoutStyle" class="@layoutCls">
                @if (HeaderRender)
                {
                    <CascadingValue Value="RightContentRender" Name="RightContentRender">
                        <HeaderView HasSiderMenu="@hasSiderMenu" />
                    </CascadingValue>
                }
                <WrapContent PrefixCls="@PrefixCls"
                         Class="@ContentClass"
                         Style="@ContentStyle">
                    @(Loading ? @<PageLoading /> : ChildContent)
                </WrapContent>
                @if (FooterRender)
                {
                    @(FooterContent == null ? @<FooterView /> : FooterContent)
                }
            </div>
        </Layout>
    </div>
}

@inherits AntProComponentBase
@code {
    [Parameter] public bool Pure { get; set; }
    [Parameter] public bool Loading { get; set; }
    [Parameter] public bool DisableMobile { get; set; }
    [Parameter] public bool DisableContentMargin { get; set; } = true;
    [Parameter] public string ContentStyle { get; set; }


    [Parameter] public bool Collapsed { get; set; }
    [Parameter] public MenuMode Mode { get; set; }
    [Parameter] public string[] OpenKeys { get; set; } = { };
    [Parameter] public int SiderWidth { get; set; } = 208;

    [Parameter] public EventCallback<bool> OnCollapse { get; set; }

    [Parameter] public RenderFragment MenuExtraRender { get; set; }
    [Parameter] public RenderFragment RightContentRender { get; set; }

    private string weakModeStyle;
    private string genLayoutStyle;
    private readonly bool isChildrenLayout = false;

    private string layoutCls = "ant-layout";
    private string BaseClassName => $"{PrefixCls}-basicLayout";
    private string LayoutClass => ClassNames("ant-design-pro", BaseClassName, $"screen-{ColSize}"
        , ($"{BaseClassName}-top-menu", Layout == Layout.Top)
        , ($"{BaseClassName}-is-children", isChildrenLayout)
        , ($"{BaseClassName}-fix-siderbar", FixSiderbar)
        , ($"{BaseClassName}-mobile", IsMobile)
        );
    public string ContentClass => ClassNames($"{BaseClassName}-content"
    , ($"{BaseClassName}-has-header", HeaderRender)
    , ($"{BaseClassName}-content-disable-margin", DisableContentMargin)
    );

    protected string ColSize { get; set; } = "lg";//useAntdMediaQuery();
    protected bool IsMobile => (ColSize == "sm" || ColSize == "xs") && !DisableMobile;

    protected bool hasSiderMenu => MenuRender && !Pure;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SetStyle();
    }

    protected void SetStyle()
    {
        weakModeStyle = ColorWeak ? "filter: invert(80%);" : "";
        genLayoutStyle = "position: relative;";
        var hasLeftPadding = FixSiderbar && Layout != Layout.Top && !IsMobile;
        var paddingLeft = hasLeftPadding ? Collapsed ? 48 : SiderWidth : 0;
        genLayoutStyle = MenuRender ? $"padding-left: {paddingLeft}px; position: relative;" : "";
        if (isChildrenLayout || (ContentStyle?.Contains("min-height") ?? false)) { genLayoutStyle += "min-height:0px"; }
    }

    protected override void OnStateChanged()
    {
        base.OnStateChanged();
        SetStyle();
    }
    private async Task HandleCollapse(bool collapsed)
    {
        Collapsed = collapsed;
        SetStyle();
        await OnCollapse.InvokeAsync(collapsed);
    }
}