@namespace Zero.Abp.AspNetCore.Components.Server.AntdTheme.Themes

@using Microsoft.Extensions.Localization
@using global::Localization.Resources.AbpUi

@*
    @using Volo.Abp.Users
    @using Volo.Abp.MultiTenancy

    @inject ICurrentUser CurrentUser
    @inject ICurrentTenant CurrentTenant
    @inject IJSRuntime JsRuntime
    @inject NavigationManager Navigation*@
@inject IStringLocalizer<AbpUiResource> L

<AuthorizeView>
    <Authorized>

        @* <Dropdown>
            <ChildContent>
            @if (CurrentTenant.Name != null)
            {
            <span><i>@CurrentTenant.Name</i>\@CurrentUser.UserName</span>
            }
            else
            {
            <span>@CurrentUser.UserName</span>
            }
            </ChildContent>
            <Overlay>
            @if (Menu != null)
            {
            <Menu>
            @foreach (var menuItem in Menu.Items)
            {
            <MenuItem>
            <a href="@menuItem.Url?.TrimStart('~')" target="@menuItem.Target">@menuItem.DisplayName</a>
            </MenuItem>
            }
            </Menu>
            }
            </Overlay>
            </Dropdown>*@

        <AvatarDropdown></AvatarDropdown>
    </Authorized>
    <NotAuthorized>
        <a class="anticon" style="vertical-align: 0em;" href="/Account/Login"> @L["Login"]</a>
    </NotAuthorized>
</AuthorizeView>