@namespace Zero.Abp.AntBlazor.Layout
@inherits AntLayoutComponentBase

<div class="@TopNavHeaderClass" style="@Style">
    <div class="@ClassNames($"{BaseClassName}-main",("wide", Settings.ContentWidth == "Fixed"))">
        <div class="@($"{BaseClassName}-main-left")">
            <div class="@($"{BaseClassName}-logo")" id="logo">
                <Branding />
            </div>
        </div>
        <div style="flex: 1;" class="@BaseClassName-menu">
            <BaseMenu Mode="Mode"
                      Theme="MenuTheme"
                      MenuData="MenuData"
                      SelectedKeys="SelectedKeys"
                      SelectedKeysChanged="SelectedKeysChanged" />
        </div>
        <div style="min-width:@rightSize">
            <div style="padding-right:8px">
                <div>
                    @if (RightContentRender != null)
                    {
                        @RightContentRender
                    }
                    else
                    {
                        <HeaderRight ItemRenders="RightItemRenders" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    #region [@bind-SelectedKeys]
    [Parameter] public string[] SelectedKeys { get; set; }
    [Parameter] public EventCallback<string[]> SelectedKeysChanged { get; set; }
    #endregion

    [Parameter] public MenuMode Mode { get; set; }
    [Parameter] public ApplicationMenuItemList MenuData { get; set; }

    [Parameter] public List<RenderFragment> RightItemRenders { get; set; }
    [Parameter] public RenderFragment RightContentRender { get; set; }

    private MenuTheme MenuTheme => Settings.HeaderTheme.ToMenuTheme();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    string rightSize = "auto";
    public void SetRightSize(string value) { rightSize = value; }

    #region [StyleOrClass]
    private string BaseClassName => $"{PrefixCls}-top-nav-header";

    private string TopNavHeaderClass => ClassNames(
        BaseClassName, Class
        , ("light", MenuTheme == MenuTheme.Light)
        );
    #endregion
}
