
@using Microsoft.Extensions.Localization
@using global::Localization.Resources.AbpUi

@*@using Volo.Abp.Users
@using Volo.Abp.MultiTenancy
@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation*@
@inject IStringLocalizer<AbpUiResource> L
@inherits AbpComponentBase
<AuthorizeView>
    <Authorized>
     @*   <Dropdown>
            <ChildContent>
                @if (CurrentTenant.Name != null)
                {
                    <span><i>@CurrentTenant.Name</i>\@CurrentUser.UserName</span>
                }
                else
                {
                    <span>@CurrentUser.UserName</span>
                }
            </ChildContent>
            <Overlay>
                @if (Menu != null)
                {
                    <Menu>
                        @foreach (var menuItem in Menu.Items)
                        {
                            <MenuItem OnClick="@(() => NavigateToAsync(menuItem.Url, menuItem.Target))">
                                @menuItem.DisplayName
                            </MenuItem>
                        }
                        <Divider />
                        <MenuItem OnClick="BeginSignOut">@L["Logout"]</MenuItem>
                    </Menu>
                }
            </Overlay>
        </Dropdown>*@
        <AvatarDropdown></AvatarDropdown>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login"> <Text>@L["Login"] </Text></a>
    </NotAuthorized>
</AuthorizeView>