@namespace Zero.Abp.AntdesignUI.Layout
@inherits AntProComponentBase

@if (Layout == Layout.Mix && !IsMobile && SplitMenus)
{
    <TopNavHeader Mode="MenuMode.Horizontal"
                  NoChildrenMenu/>
}
else
{
    <div class="@className" style="@Style">
        @if (IsMobile)
        {
            <Branding HideTitle />
            @if (CollapsedButtonRender != null)
            {
                <span class="@BaseClassName-collapsed-button" @onclick="@(async () => { await OnCollapse.InvokeAsync(!Collapsed); })">
                    @*<Icon Type="@(Collapsed ? "menu-unfold" : "menu-fold")" Theme="outline" />*@
                    @CollapsedButtonRender(Collapsed)
                </span>
            }
        }
        else if (Layout == Layout.Mix)
        {
            <div class="@BaseClassName-logo">
                <Branding />
            </div>
        }
        <div style="flex: 1">@ChildContent</div>
        @if (RightContentRender != null)
        {
            @RightContentRender
        }
    </div>
}
@code{
    private string BaseClassName => $"{PrefixCls}-global-header";
    private string className => ClassNames(BaseClassName, Class
        , ($"{BaseClassName}-layout-{Layout.Name}", Layout != null&&NavTheme==MenuTheme.Dark)//&& headerTheme === 'dark'
        );


    [Parameter] public bool Collapsed { get; set; }

    [Parameter] public bool IsMobile { get; set; }

    [Parameter] public EventCallback<bool> OnCollapse { get; set; }

    [Parameter]
    public RenderFragment<bool> CollapsedButtonRender { get; set; } = defaultCollapsedButtonRender;

    [CascadingParameter(Name = nameof(RightContentRender))]
    public RenderFragment RightContentRender { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    static readonly RenderFragment<bool> defaultCollapsedButtonRender = collapsed =>@<Icon Type="@(collapsed ? "menu-unfold" : "menu-fold")" Theme="outline" />;
}