@namespace Zero.Abp.AntdesignUI.Layout
@inherits SettingDrawerBase

<AntList Split="false"
         DataSource="SettingItems"
         ItemLayout="ListItemLayout.Horizontal">
    <ListItem>
        <span style="opacity: @(context.Disabled ? "0.5" : "1")">@context.Title</span>
        @context.Action
    </ListItem>
</AntList>

@code
{
    public SettingItem[] SettingItems { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SettingItems = new[] {
            new SettingItem
            {
                Title="Content Width",
                Action = @<Select TItem="string"
                                  TItemValue="string"
                                  Size="@("small")"
                                  Style="width: 80px;"
                                  DefaultValue="LayoutState.Settings.ContentWidth"
                                  @bind-Value="LayoutState.Settings.ContentWidth">
    <SelectOptions>
        <SelectOption TItem="string" TItemValue="string" Value="@("Fixed")" Label="Fixed" />
        <SelectOption TItem="string" TItemValue="string" Value="@("Fluid")" Label="Fluid" />
    </SelectOptions>
</Select>
            },
            new SettingItem
            {
                Title="Fixed Header",
                Action = @<Switch Size="small" @bind-Checked="LayoutState.Settings.FixedHeader" />
            },
            new SettingItem
            {
                Title="Fixed Sidebar",
                Action = @<Switch Size="small" @bind-Checked="LayoutState.Settings.FixSiderbar" />
            },
            new SettingItem
            {
                Title="Split Menus",
                Action = @<Switch Size="small" @bind-Checked="LayoutState.Settings.SplitMenus" />
            },
        };
        }
}