@namespace Zero.Abp.AntdesignUI.Layout
@using Microsoft.Extensions.Options
@inherits AntDomComponentBase
@*@inject IOptions<ProSettings> SettingState*@

<AntList Split="false"
         DataSource="SettingItems"
         ItemLayout="ListItemLayout.Horizontal">
    <ListItem>
        <span style="opacity: @(context.Disabled ? "0.5" : "1")">@context.Title</span>
        @context.Action
    </ListItem>
</AntList>

@code
{

    protected LayoutSettings Settings { get; set; }
        [Inject] protected ILayoutConfigProvider LayoutConfigProvider { get; set; }
        protected override async Task OnInitializedAsync()
        {
            await base.OnInitializedAsync();
            Settings = await LayoutConfigProvider.GetSettingsAsync();
        }

    public SettingItem[] SettingItems { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SettingItems = new[] {
            new SettingItem
            {
                Title="Content Width",
                Action = @<Select TItem="string"
                                  TItemValue="string"
                                  Size="small"
                                  Style="width: 80px;"
                                  DefaultValue="Settings.ContentWidth"
                                  @bind-Value="Settings.ContentWidth">
    <SelectOptions>
        <SelectOption TItem="string" TItemValue="string" Value="@("Fixed")" Label="Fixed" />
        <SelectOption TItem="string" TItemValue="string" Value="@("Fluid")" Label="Fluid" />
    </SelectOptions>
</Select>
            },
            new SettingItem
            {
                Title="Fixed Header",
                Action = @<Switch Size="small" @bind-Checked="Settings.FixedHeader" />
            },
            new SettingItem
            {
                Title="Fixed Sidebar",
                Action = @<Switch Size="small" @bind-Checked="Settings.FixSiderbar" />
            },
            new SettingItem
            {
                Title="Split Menus",
                Action = @<Switch Size="small" @bind-Checked="Settings.SplitMenus" />
            },
        };
        }
}