@namespace Zero.Abp.AntdesignUI.Layout
@inherits AntDomComponentBase

<Drawer OnClose="()=>_show=false"
        Visible="_show"
        Width="300"
        Placement="right"
        Style="z-index: 999;">
    <Handler>
        <div class="@BaseClassName-drawer-handle" @onclick="SetShow">
            <Icon Type=@(_show?"close":"setting") Theme="outline" Style="color: #fff; font-size: 20px;" />
        </div>
    </Handler>
    <ChildContent>
        <div class="@BaseClassName-drawer-content">

            <SettingDrawerBody Title="Page style setting"
                               PrefixCls="@BaseClassName">
                <BlockCheckbox PrefixCls="@BaseClassName"
                               List="ThemeList"
                               @bind-Value="@SettingState.Value.NavTheme"
                               OnChange="@(async x => await UpdateTheme())" />
            </SettingDrawerBody>

            <ThemeColor Title="Theme Color"
                        Colors="LightColorList"
                        @bind-Value="@SettingState.Value.PrimaryColor"
                        OnChange="@(async _=>await UpdateTheme())" />
            <Divider />

            <SettingDrawerBody Title="Navigation Mode"
                               PrefixCls="@BaseClassName">
                <BlockCheckbox PrefixCls="@BaseClassName"
                               List="LayoutList"
                               @bind-Value="@SettingState.Value.Layout"
                               OnChange="@(x => SetThemeList())" />
            </SettingDrawerBody>

            <LayoutSetting />

            <Divider />

            <SettingDrawerBody Title="Regional Settings"
                               PrefixCls="@BaseClassName">
                <RegionalSetting />
            </SettingDrawerBody>

            <Divider />

            <SettingDrawerBody Title="Other Settings"
                               PrefixCls="@BaseClassName">
                <OtherSetting />
            </SettingDrawerBody>

            @if (!HideHintAlert && !HideCopyButton)
            {
                <Divider />
            }

            @if (!HideHintAlert)
            {
                <Alert Type="warning"
                   Message="Setting panel shows in development environment only, please manually modify"
                   Icon="_notification"
                   ShowIcon="true"
                   Style="margin-bottom: 16px;" />
            }

            @if (!HideCopyButton)
            {
                <Button Block OnClick="CopySetting">
                    <Icon Type="copy" Theme="outline" /> Copy Setting
                </Button>
            }
        </div>
    </ChildContent>
</Drawer>
<link type="text/css" rel="stylesheet" id="theme-style" href="@_url" @ref="_linkRef">
@code
{
    private RenderFragment _notification =@<Icon Type="notification" />
    ;
}