@namespace Zero.Abp.AntdesignUI.Layout
@inherits SettingDrawerBase

<ThemeColor Title="@L["ThemeColor"]"
            Value="@Settings.PrimaryColor"
            OnChange="value=>UpdateSettingAsync<string>(x=>x.PrimaryColor,()=>Settings.PrimaryColor,value)" />

<AntList Split="false"
         DataSource="OtherSettings"
         ItemLayout="ListItemLayout.Horizontal">
    <ListItem>
        @context.Action
    </ListItem>
</AntList>
<link type="text/css" rel="stylesheet" id="theme-style" href="@_themeUrl" @ref="_themeRef">
@code
{

    public RenderFragment SwitchRender(
    Expression<Func<LayoutSettings, bool>> propertySelector
    , Func<bool> valueFactory
    , Func<bool> disabledFactory = null)
    {
        var fieldName = (propertySelector.Body as MemberExpression)?.Member?.Name;
        return@<Template>
        <span style="@StyleValues(("opacity:0.5",disabledFactory))">@L[fieldName]</span>
        <Switch Size="small" Checked="@(valueFactory?.Invoke()?? false)" Disabled="@(disabledFactory?.Invoke()?? false)"
                OnChange="value=>UpdateSettingAsync(propertySelector,valueFactory,value)" />
    </Template>
    ;
    }

    public SettingItem[] OtherSettings { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();

        OtherSettings = new[]
            {
            new SettingItem
            {
                Action =SwitchRender( x => x.CompactTheme, () => Settings.CompactTheme)
            },
            new SettingItem
            {
                Action =SwitchRender( x => x.DarkTheme, () => Settings.DarkTheme)
            }
        };
    }
}