@page "/"
@namespace BlazorServerDemo
@using Volo.Abp.Ui.Branding
@using System.Globalization
@using Volo.Abp.Localization
@using Zero.Abp.AspNetCore.Components.Server.BasicTheme.Bundling
@using Zero.Abp.AspNetCore.Components.Web.BasicTheme.Themes.Basic
@{ Layout = null; var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty; }

@inject IBrandingProvider BrandingProvider

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@BrandingProvider.AppName</title>
    <base href="~/" />

    <abp-style-bundle name="@BlazorBasicThemeBundles.Styles.Global" />
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body class="@rtl">
    <component type="typeof(App)" render-mode="Server" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <abp-script-bundle name="@BlazorBasicThemeBundles.Scripts.Global" />
</body>
</html>
