@page "/"
@inherits AbpComponentBase
@inject IUiPageProgressService pageProgressService

@using Volo.Abp.UI.Navigation
@inject IMenuManager MenuManager


<Captcha ImagesPath="@ImagesPath" ImagesName="@ImagesName" @ref="Captcha" OnValid="@OnValid" />

<Button Type="@ButtonType.Primary" OnClick="@DeleteAsync">
    Open the notification box
</Button>


<Result Status="500"></Result>
@code {
    public string ImagesPath { get; set; } = "images";
    public string ImagesName { get; set; } = "Pic.jpg";

    /// <summary>
    ///
    /// </summary>
    private Captcha Captcha { get; set; }

    private void OnValid(bool ret)
    {
        var result = ret ? "成功" : "失败";
        Alerts.Warning($"验证码结果 -> {result}");
        if (ret)
        {
            Task.Run(async () =>
            {
                await Task.Delay(1000);
                Captcha?.Reset();
            });
        }
    }

    protected override void OnInitialized()
    {

        Alerts.Warning(
        "We will have a service interruption between 02:00 AM and 04:00 AM at October 23, 2023!",
        "Service Interruption");
        base.OnInitialized();
    }

    int? percentage = 0;

    public async Task DeleteAsync()
    {
        var dd = await MenuManager.GetMainMenuAsync();
        percentage = percentage + 10;
        await pageProgressService.Go(percentage);

        //await Message.Success( "The product 'Acme Atom Re-Arranger' has been successfully deleted."  );
    }
}
