@using System.Text.RegularExpressions

@if (!Icon.IsNullOrWhiteSpace())
{
    @if (Icon.StartsWith("fa"))
    {
        <span class="anticon" style="vertical-align: 0em;@Style">
            <i class="@Icon"></i>
        </span>
    }
    else if (Icon.StartsWith("http") || Regex.IsMatch(Icon, @"\w.(png|jpg|jpeg|svg|webp|gif|bmp)$"))
    {
        <img src="@Icon" alt="icon" style="@Style" />
    }
    else if (Icon.StartsWith(IconPrefixes))
    {
        <IconFont Type="@Icon" Style="@Style" />
    }
    else
    {
        <Icon Type="@Icon" Theme="outline" Style="@Style" />
    }
}
else
{
    @if (OrStr != null)
    {
        <span class="anticon" style="vertical-align: 0em;@Style">
            @OrStr.Invoke()
        </span>
    }
}

@code {
    [Parameter] public string IconPrefixes { get; set; } = "icon-";

    [Parameter] public Func<string> OrStr { get; set; }

    [Parameter] public string Icon { get; set; }

    [Parameter] public string Style { get; set; }
}
