@namespace Zero.Abp.AntdesignLayout
@inherits AntProComponentBase

@if (Layout == Layout.Mix && !IsMobile && SplitMenus)
{
    <TopNavHeader Mode="MenuMode.Horizontal"
                  OnlyTopMenu
                  NavTheme="MenuTheme.Dark"
                  Theme="MenuTheme.Dark" />
}
else
{
    <div class="@ClassMapper.Class" Style="@Style">
        @if (IsMobile)
        {
            <span class=@BaseClassName -logo key="logo">
                <a>
                    @if (!BrandingProvider.LogoUrl.IsNullOrWhiteSpace())
                    {
                        <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName" />
                    }
                </a>
            </span>

            <Condition If="CollapsedButtonRender == null" Or="CollapsedButtonRender">
                <span class="@BaseClassName-collapsed-button" @onclick="@(async () => { await OnCollapse.InvokeAsync(!Collapsed);})">
                    <Icon Type="@(Collapsed?"menu-unfold":"menu-fold")" Theme="outline" />
                </span>
            </Condition>
        }
        else
        {
            if (Layout == Layout.Mix)
            {
                <div class="@BaseClassName-logo">
                    <a href="/">
                        @if (!BrandingProvider.LogoUrl.IsNullOrWhiteSpace())
                        {
                            <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName" />
                        }
                        @if (!Collapsed)
                        {
                            <h1>@BrandingProvider.AppName</h1>
                        }
                    </a>
                </div>
            }
        }

        <div style="flex: 1">@ChildContent</div>
        @if (RightContentRender != null)
        {
            @RightContentRender
        }
    </div>
}