@namespace Zero.Abp.AntdesignLayout
@inherits AntProComponentBase

<div class="@ClassMapper.Class" style="@_weakModeStyle">
    <Layout Style="min-height: 100%;">
        @if (MenuRender)
        {
            if (Layout == Layout.Top && IsMobile)
            {
                <!--todo: Mobile Top-->
            }
            else
            {
                <CascadingValue Value="MenuExtraRender" Name="MenuExtraRender">
                    <SiderMenu Mode="Mode"     
                       OpenKeys="OpenKeys"
                       SiderWidth="SiderWidth"
                       OnCollapse="HandleCollapse">
                    </SiderMenu>
                </CascadingValue>
            }
        }
        <Layout Style="@_genLayoutStyle">
            @if (HeaderRender && Pure)
            {
                <CascadingValue Value="RightContentRender" Name="RightContentRender">
                    <HeaderView />
                </CascadingValue>
            }

            <WrapContent Class="@ContentClassMapper.Class" Style="@ContentStyle" PrefixCls="@PrefixCls">
                <Condition If="Loading" Or="ChildContent">
                    <PageLoading />
                </Condition>
            </WrapContent>

            @if (SettingState.Value.FooterRender)
            {
                <Condition If="FooterRender == null" Or="FooterRender">
                    <FooterView />
                </Condition>
            }
        </Layout>
    </Layout>
</div>