@typeparam TItem

@if (Visible && HasPermission)
{
    if (ParentActions.Type == ActionType.Dropdown)
    {
        if (Primary == false)
        {
            <MenuItem OnClick="@ActionClickedAsync">@Text</MenuItem>
        }
    }
    else
    {
        <Button Block="true" Type="@ButtonType" OnClick="@ActionClickedAsync">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <IconView Icon="@Icon" />
            }
            @Text
        </Button>
    }
}